body {
    background-color: lightgray;
}

.entry-head {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.entry-form {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}
